<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxx.mng.mapper.TestMapper">
    <select id="selectAll" resultType="hashmap">
        select * from suo_mz_fund_detail_tl
    </select>
</mapper>