<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hc.mng.mapper.SuoFundMapper">

    <insert id="createFundCheck">
        insert into suo_mz_fund_check_record (id, month, start_time)
        values (#{id}, #{month}, #{startTime})
    </insert>

    <select id="selectFundCheckList" resultType="com.hc.mng.entities.SuoPzFundCheckRecordEntity">
        select * from suo_mz_fund_check_record
    </select>

    <select id="fundCheckDetailList" resultType="hashmap">
        select * from ${table} where check_id = #{checkId}
    </select>

    <select id="deleteFundCheckDetail">
        delete from ${table} where check_id = #{checkId}
    </select>

    <select id="findAllSimpleFundList" resultType="com.hc.mng.models.SimpleFundInfo">
        SELECT 订单号, '圈子' as 业务类型  from pz圈子 p
        WHERE CHECK_id = #{checkId}
        union all
        select 订单号, '充值' as 业务类型 FROM  pz充值 p2
        where check_id = #{checkId}
        union all
        select 订单号, '专栏' as 业务类型 FROM  pz专栏 p3
        where check_id = #{checkId}
        union ALL
        select CONCAT(下单时间, '>>>', 实付金额 + 0) as 订单号, '会员' as 业务类型 FROM  pz会员 p4
        where check_id = #{checkId}
        union ALL
        select CONCAT(下单时间, '>>>', 支付金额 + 0) as 订单号, '投资大学' as 业务类型 FROM  pz投资大学 p5
        where check_id = #{checkId}
        union ALL
        select CONCAT(视频名称, '>>>', 实付金额 + 0) as 订单号, '视频' as 业务类型 FROM  pz视频 p6
        where check_id = #{checkId}
    </select>

    <select id="executeSql">
        ${sql}
    </select>
</mapper>